body {
  background-color: #f2f2f2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.form-box {
  overflow-y: auto;
  margin: 2rem auto;
  background: #fff;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
}


.container {
  max-width: 100vw !important;
}


.table {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 25px rgba(0,0,0,0.1);
}

.table thead {
  background-color: #e9ecef;
  font-weight: 600;
}

.table td {
  overflow-wrap: break-word;
}


.floating-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #198754;
  color: white;
  border: none;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.floating-btn:hover {
  background-color: #157347;
  transform: scale(1.05);
}


.navbar {
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar .nav-link {
  font-weight: 500;
}

.img-logo {
  width: 5%;
  padding-right: 1%;
}

.campo-para-busca{
  margin-bottom: 3%;
}
.div-envolvendo-titulo-e-campo-busca{
  display: flex;
  justify-content: space-between;
}

.botao-buscar{
  background-color: #0d6efd;
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 4vh;
  width: 23%;
}
.titulo{
  padding-top: 1%;
}


