body {
  background-color: #f2f2f2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.shortcut-btn {
  width: 220px;
  height: 100px;
  font-size: 1.2rem;
  margin: 15px;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.shortcut-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

footer {
  text-align: center;
  padding: 20px;
  color: #777;
  background-color: #fff;
  border-top: 1px solid #ddd;
  position: relative;
  bottom: 0;
  width: 100%;
}

.navbar {
  border-bottom: 1px solid #ddd;
}
.img-logo{
  width: 5%;
  padding-right: 1%;
}