.img-logo{
  width: 5%;
  padding-right: 1%;
}
.div-aviso {
  position: fixed;
  width: 32%;
  height: 33vh;
  z-index: 3 !important;
  left: 34%;
  top: 150%;
  border-radius: 1rem;
  color: white;
  transition: top 2s ease;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-aviso-subir {
  top: 28%;
}

.sucesso {
  background-color: #4caf50;
  opacity: 0.8;
}

.erro {
  background-color: #f44336;
  opacity: 0.8;
}
