body {
  background-color: #f2f2f2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.botoes-relatorio{
  width: 15%;
  margin-top: 3%;
  height: 12vh;
  border: none;
  color: #fff;
}

.botao-gerar-relatorio-produtos-mais-vendidos{
  background-color: #0E4D64;
}
.botao-gerar-relatorio-produtos-mais-vendidos:hover {
  background-color: #0c3f52;
  color: #fff;
}

.botao-gerar-relatorio-produtos-em-falta{
  background-color: #D9822B;
}

.botao-gerar-relatorio-produtos-em-falta:hover {
  background-color: #b86c22;
  color: #fff;
}

.botao-gerar-relatorio-de-vendas-por-periodo{
  background-color:#4F4F4F ;
}

.botao-gerar-relatorio-de-vendas-por-periodo:hover {
  background-color: #3b3b3b;
  color: #fff;
}
.div-relatorios{
  background-color: #ececec;
  z-index: 10;
  width: 37%;
  height: 45vh;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  opacity: 8;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  display: none;
}

#botao-gerar-relatorio-vendas-por-periodo{
  background-color: #0d6efd ;
  border: none;
  width: 25%;
  height: 13%;
  position: relative;
  top: 18%;
  left: 72%;
  border-radius: 15px;
}
#botao-gerar-relatorio-produtos-com-maior-faturamento-por-periodo{
  background-color: #0d6efd ;
  border: none;
  width: 25%;
  height: 13%;
  position: relative;
  top: 8%;
  left: 72%;
  border-radius: 15px;
}
#botao-gerar-relatorio-produtos-em-falta{
  background-color: #0d6efd ;
  border: none;
  width: 25%;
  height: 13%;
  position: relative;
  top: 26%;
  left: 72%;
  border-radius: 15px;
}

#labe-quantidade-produtos-em-falta{
  margin-top: 2%;
  width: 90%;
  margin-left: 15px;
}

.form-control {
  border-radius: 10px;
  padding: 10px 12px;
  width: 90%;
  margin-left: 2%;
}
label{
  font-size: 18px;
  margin-left: 2%;
}
.icone-arrow{
  font-size: 27px;
  position: absolute;
  top: 22px;
  left: 2%;
  cursor: pointer;
}
.img-logo{
  width: 5%;
  padding-right: 1%;
}

.div-aviso{
    position: fixed;
    width: 32%;
    height: 33vh;
    z-index:12 !important;
    left: 34%;
    top: 150%;
    border-radius: 1rem;
    color: white;
    transition: top 2s ease;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-aviso-subir{
   top: 28% ;
}
.sucesso{
    background-color: #4caf50;
    opacity: 0.8;
}
.erro{
    background-color: #f44336;
    opacity: 0.8;
}
footer {
  text-align: center;
  padding: 20px;
  color: #777;
  background-color: #fff;
  border-top: 1px solid #ddd;
  margin-top: auto;
}
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container, .container-fluid {
  flex: 1;
}