body {
  background-color: #f2f2f2; 
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bg-custom {
  background-color: #5a6f88 !important; 
}

.main {
  max-height: 93vh;  
}

.form-box {
  overflow-y: auto; 
  margin: 4rem auto;
  background: #fff;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
  width: 100%;
  max-width: 520px;
  z-index: 999;
}

.table-box {
  margin: 4rem auto;
  background: #fff;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
  width: 90%;
  max-width: 900px;
}

.dropdown-menu {
  z-index: 2000 !important;
}

.btn-warning {
  background-color: #f1c40f;
  border: none;
}

.btn-danger {
  background-color: #e74c3c;
  border: none;
}
