body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.bg-custom {
  background-color: #ffffff !important; /* azul acinzentado */
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: rgb(0, 0, 0) !important;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
  color: #e2e8f0 !important;
}

.navbar{
  color: rgb(255, 255, 255);
}


.main {
  max-height: 93vh;
}


.form-box {
  overflow-y: auto;
  margin: 2rem auto;
  background: #fff;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
  width: 100%;
  max-width: 900px;
  z-index: 999;
}


table {
  text-align: center;
  border-collapse: collapse;
}

.table thead th {
  background-color: #e7e7e7;
}

.table-hover tbody tr:hover {
  background-color: #f9fafb;
}


.btn-editar {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 4px 10px;
}

.btn-editar:hover {
  background-color: #2563eb;
}

.btn-excluir {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 4px 10px;
}

.btn-excluir:hover {
  background-color: #dc2626;
}


.dropdown-menu {
  z-index: 2000 !important;
}
