body {
  background-color: #f8f9fa;
}

.section-venda {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

h2, h5 {
  color: #333;
}

.btn {
  border-radius: 8px;
}

.table td, .table th {
  vertical-align: middle;
}

.modal-content {
  border-radius: 12px;
}

#valor-total {
  color: #198754;
  font-weight: bold;
}
